<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/Automation/git/AdactinTestNG"><classes><class name="regressionTest.LoginTest"><methods><include name="validLogin"/><include name="invalidLogin"/><include name="Logout"/></methods></class><class name="regressionTest.SearchHotelTest"><methods><include name="HotelSearchTest"/></methods></class><class name="regressionTest.SelectHotelTest"><methods><include name="SelectHotelTest"/></methods></class></classes></test></suite>